*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:linear-gradient(135deg,#020617,#0c0a09);
color:white;
min-height:100vh;
display:flex;
}

.sidebar{
width:220px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(12px);
padding:30px;
display:flex;
flex-direction:column;
gap:15px;
}

.sidebar a{
color:white;
text-decoration:none;
padding:10px;
border-radius:10px;
}

.sidebar a:hover{
background:rgba(255,255,255,0.08);
}

.content{
flex:1;
padding:40px;
}

.card{
background:rgba(255,255,255,0.05);
padding:30px;
border-radius:20px;
backdrop-filter:blur(12px);
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

th{
background:#f97316;
padding:10px;
}

td{
padding:10px;
text-align:center;
}

tr:nth-child(even){
background:rgba(255,255,255,0.05);
}
